.admonition {
  display box
  background-color: rgba(128, 128, 128, 10%)
  border-radius: 0.45rem;
  border-color: transparent
    padding-bottom: 16px;
  &.note,
  &.info,
  &.tips {
    .admonition-title{
      background-color: #3498db
    }
  }
  &.warning,
  &.warn,
  &.important {
    .admonition-title {
      background-color: #e67e22
    }
  }
  &.danger,
  &.critical {
    .admonition-title {
      background-color:  #e74c3c
    }
  }
}

p.admonition-content {
  position static
  color black
  padding 0rem 1rem 0rem
  margin 0
  line-height: 1.6
}
p.admonition-title{
  display flex
  position relative
  font-weight bold
  text-align left
  align-items: center
  justify-content: flex-start
  top 0
  left 0
  padding: 0 0.5rem;
  height: 1.25rem;
  line-height: 1;
  font-weight: 500;
  border-radius: 0.45rem;
  color: #fff;
  margin-bottom: 11px
  width fit-content
}
