.admonition {
  display box
  background-color: rgba(128, 128, 128, 10%)
  border-radius: 0.45rem;
  border-color: transparent
  &.note,
  &.info,
  &.tips {
    base-blue = #3498db
    admon-color(base-blue)
  }
  &.warning,
  &.warn,
  &.important {
    base-carrot = #e67e22
    admon-color(base-carrot)
  }
  &.danger,
  &.critical {
    base-alizarin = #e74c3c
    admon-color(base-alizarin)
  }
}

p.admonition-content {
  position static
  color black
  padding 1rem 1rem 0.75rem
  width 90%
  margin 0
  display flex
}
p.admonition-title{
  display flex
  position relative
  font-weight bold
  text-align left
  align-items: center
  justify-content: flex-start
  top 0
  left 0
  padding: 0 0.5rem;
  height: 1.25rem;
  line-height: 1;
  font-weight: 500;
  border-radius: 0.45rem;
  background-color: #e18114;
  color: #fff;
  margin-bottom 0px
  width fit-content
}